<ion-header >
  <ion-toolbar>
    <ion-title>
      Tools
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img src="assets/img/android.jpg" id="img">

  <ion-card-content >
    <ion-card>

      <ion-item color="rgba(126, 68, 68, 0.637)" lines="none">
          <ion-icon name="cafe" slot="start"></ion-icon>
          <ion-icon name="more" slot="end"></ion-icon>
      </ion-item>
      <ion-item color="medium" lines="none">
          <ion-label>
              Application Tools
          </ion-label>
      </ion-item>
    
  </ion-card>
    <ion-item>
      <ion-label>
        <h2>Bienvenu sur notre </h2>
        Platforme qui vous offres les
        <h2> fonctionalite d'envoie de fichier par</h2>
    <h2> bluetooth et des informations </h2>
    <h2>sur votre appareil</h2>
        
      </ion-label>
      
    </ion-item>
  </ion-card-content>
</ion-content>



