ion-title{
  background-color:rgba(126, 68, 68, 0.637);
}
// ion-content{
//   background-color:rgba(235, 60, 60, 0.863);
// }

:root {
  --ion-color-maroon: #800000;
  --ion-color-maroon-rgb: 128,0,0;
  --ion-color-maroon-contrast: #ffffff;
  --ion-color-maroon-contrast-rgb: 255,255,255;
  --ion-color-maroon-shade: #6e0000;
  --ion-color-maroon-tint: #990000;
}