ion-title{
  background-color:rgba(126, 68, 68, 0.637);
}
// ion-content{
//   background-color:rgba(235, 60, 60, 0.863);
// }

h6{
  text-align:center;
}

ion-avatar{
  height: 100px;
  width:100px;
}