<ion-header>
  <ion-toolbar>
    <ion-title>Apropos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <br/>

  <h6>Appication developpée par :</h6>
  <ion-card>
    <br/>
    <br/>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/leo.png" />
    </ion-avatar>
    <ion-label>Ngouo Franck Leonel</ion-label>
  </ion-item>
<br/><br/>
<br/>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="assets/img/mumu.jpg" />
    </ion-avatar>
    <ion-label>Nguend dime murielle michelle</ion-label>
  </ion-item>
  <br/>
  <br/>

</ion-card>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<ion-footer>
  copyrigh@2023
</ion-footer>
</ion-content>
