{% extends 'base.html'%}
 
 {% load static %}

  {% block conten %}






<div class="cards">
    <div class="card-icon follow">
        <span class="las la-users ">   </span>
    </div>
            <div class="card-info">
                <h2>3.281</h2>
                <small>Total followers</small>
                <div class="card-images">
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                </div>
            </div>
</div>

<div class="cards">
    <div class="card-icon likes">
        <span class="las la-heart">   </span>
    </div>
            <div class="card-info">
                <h2>19,855</h2>
                <small>Total likes</small>
                <div class="card-images">
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                </div>
            </div>
</div>


<div class="cards">
    <div class="card-icon comment">
        <span class="las la-comment">   </span>
    </div>
            <div class="card-info">
                <h2>234,855</h2>
                <small>Comments</small>
                <div class="card-images">
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                    <div style="background-image: url({% static 'img/img1.jpg' %})"></div>
                </div>
            </div>

            {% endblock %}