

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bluetooth">
      <ion-icon name="bluetooth"></ion-icon>
      <ion-label>Bluetooth</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="device">
      <ion-icon name="phone-portrait"></ion-icon>
      <ion-label>Appareil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apropos">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>À Propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



